:host {
  display: block;
  margin-top: 2rem;
}

.info-text {
  text-align: center;
  background-color: #fff;
}

.text {
  background-color: black;
  margin: 2rem;
  padding: 4rem;
}

mat-spinner {
  margin: auto;
}

.image-post {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}
